workDir                 = "work"    // path to nextflows internal working directory

report {
    enabled = true
    file    = "report_main_0.html"  // path to output report file
}

/*  PARAMETERS  */
params {
    date                = new Date()

/*  DEPENDENCIES  */    
    genome_size           = 2000000             // genome size of Streptococcus pneumoniae in nt
    e_value_cutoff        = "1e-3"              // e value cut off for annotations
    db_mmseqs2            = "pfam_profile"     // path to mmseqs2 annotation database
    pfam_dat              = "Pfam-A.hmm.dat"    // path to pfam dat file
    max_cores_per_process = 1                   // maximal number of cores to use for each process
    path_to_file_system   = "redux_workflow"    // path to file system
    test_size             = 0.05                // proportional size of the test set

/*  INPUT DATA  */
    data                  = "input_reads/original/*_{1,2}.fastq.gz"    // path to input read files
}

/*  HARDWARE CONFIGURATION  */
profiles {
  standard {
    includeConfig "config/local.config"
  }
}

/*  MANIFEST  */
manifest {
    author              = "Johann Wurz"
    name                = "redux_0"
    description         = "redux workflow: fastp, train test split"
    mainScript          = "main.nf"
}
