workDir = "work"    // path to nextflows internal working directory

report {
    enabled = true
    file    = "report_main_0.html"  // path to output report file
}

/*  PARAMETERS  */
params {
    date                = new Date()

/*  DEPENDENCIES  */
    genome_size            = 2000000                                                                // genome size of Streptococcus pneumoniae in nt
    e_value_cutoff         = "1e-3"                                                                 // e value cut off for annotations
    db_mmseqs2             = "pfam_profile"                                                        // path to mmseqs2 annotation database
    pfam_dat               = "Pfam-A.hmm.dat"                                                       // path to pfam dat file
    max_cores_per_process  = 1                                                                      // maximal number of cores to use for each process
    path_to_file_system    = "redux_workflow"                                                       // path to file system
    proportions            = ["0.01", "0.05", "0.1", "0.5", "1.0", "5.0", "10.0", "50.0", "100.0"]  // subsampling proportions
    path_to_original_reads = "input_reads/original"                                                 // path to orignial, valid read files for further processing

/*  INPUT DATA  */
    data_train = "workflow/reads/reads_train/*_{1,2}_fastp_train.fastq.gz"  // preprocessed train data
    data_test  = "workflow/reads/reads_test/*_{1,2}_fastp_test.fastq.gz"    // preprocessed test data
}

/*  HARDWARE CONFIGURATION  */
profiles {
  standard {
    includeConfig "config/local.config"
  }
}

/*  MANIFEST  */
manifest {
    author              = "Johann Wurz"
    name                = "redux_1"
    description         = "redux workflow: coverage examination, subsampling, annotation, gpav"
    mainScript          = "main.nf"
}
