workDir                 = "work"

report {
    enabled             = false
}

/*  PARAMETERS  */
params {
    date                    = new Date()
    genome_size             = "2.0M"        // genome size of Streptococcus pneumoniae
    max_cores_per_process   = 2
    jaccard_threshold       = 0.95
    database                = "gtdb/gtdb_redux.k31.lca.json"  // path to gtdb signature data base
    reads                   = "reads/original/*_{1,2}.fastq.gz"
}

/*  HARDWARE CONFIGURATION  */
profiles {
  standard {
    includeConfig "config/local.config"
  }
}

/*  MANIFEST  */
manifest {
    author              = "Johann Wurz"
    name                = "redundancy and species check"
    description         = "workflow to check the redundancy and species"
    mainScript          = "main.nf"
}
